anytree==2.8.0
appdirs==1.4.4
backports.entry-points-selectable==1.1.0
Beaker==1.11.0
Brlapi
btrfsutil==5.14.1
CacheControl==0.12.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
chrome-gnome-shell==0.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.8
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
filelock==3.2.1
html5lib==1.1
idna==3.2
lensfun==0.3.95
libfdt==1.6.1
louis==3.19.0
lxml==4.6.3
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.2
netsnmp-python==1.0a1
ordered-set==4.0.2
packaging==20.9
pep517==0.11.0
pipenv==2021.5.29
platformdirs==2.4.0
ply==3.11
progress==1.5
pwquality==1.4.4
pycairo==1.20.1
pycparser==2.20
Pygments==2.10.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyxdg==0.27
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.1
urllib3==1.26.6
virtualenv==20.8.1
virtualenv-clone==0.5.7
webencodings==0.5.1
