<div> 
    <div class="bg-text">
        <h1> PLAYER ENTRY </h1>
    
        <div class="row">
            <div class="column">
                <div class="green-team">
                    <h2>TEAM GREEN</h2>
                    <input type="number" [formControl]="playerEntryControl">
                </div>
            </div>
            <div class="column">
                <div class="red-team">
                    <h2>TEAM RED</h2>
                    <input type="number" [formControl]="playerEntryControl">
                </div>
            </div>
        </div>
    </div>
</div>

