<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>PHOTON</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/index.css"></head>
<meta http-equiv="refresh" content="3;url=./player-entry" />
<body style="margin: 0">
  <div class="black-bg">
    <div class="logo-background">
      <div>
      </div>
    </div>
  </div>
<script src="runtime.a4c51e3498608be782b7.js" defer></script><script src="polyfills.916eaf6b752151997990.js" defer></script><script src="main.03c05f651d1705da687c.js" defer></script>
<script src="{{ url_for('static', filename='jquery.js') }}"></script>

</body></html>