<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/player-entry.css"></head>
<body style="margin: 0;">
<div class="black-bg">
<div class="logo-background">
    <div class="bg-text">
        <h1> PLAYER ENTRY </h1>
            <div class="row">
                <div class="column">
                    <div class="green-team">
                        <h2>GREEN TEAM</h2>
                        <form method="POST">
                        <input type="text" id="GreenId0" name="GreenId0"><input type="text" id="GreenName0" name="GreenName0"><br><br>
                        <input type="text" id="GreenId1" name="GreenId1"><input type="text" id="GreenName1" name="GreenName1"><br><br>
                        <input type="text" id="GreenId2" name="GreenId2"><input type="text" id="GreenName2" name="GreenName2"><br><br>
                        <input type="text" id="GreenId3" name="GreenId3"><input type="text" id="GreenName3" name="GreenName3"><br><br>
                        <input type="text" id="GreenId4" name="GreenId4"><input type="text" id="GreenName4" name="GreenName4"><br><br>
                        <input type="text" id="GreenId5" name="GreenId5"><input type="text" id="GreenName5" name="GreenName5"><br><br>
                        <input type="text" id="GreenId6" name="GreenId6"><input type="text" id="GreenName6" name="GreenName6"><br><br>
                        <input type="text" id="GreenId7" name="GreenId7"><input type="text" id="GreenName7" name="GreenName7"><br><br>
                        <input type="text" id="GreenId8" name="GreenId8"><input type="text" id="GreenName8" name="GreenName8"><br><br>
                        <input type="text" id="GreenId9" name="GreenId9"><input type="text" id="GreenName9" name="GreenName9"><br><br>
                        <input type="text" id="GreenId10" name="GreenId10"><input type="text" id="GreenName10" name="GreenName10"><br><br>
                        <input type="text" id="GreenId11" name="GreenId11"><input type="text" id="GreenName11" name="GreenName11"><br><br>
                        <input type="text" id="GreenId12" name="GreenId12"><input type="text" id="GreenName12" name="GreenName12"><br><br>
                        <input type="text" id="GreenId13" name="GreenId13"><input type="text" id="GreenName13" name="GreenName13"><br><br>
                        <input type="text" id="GreenId14" name="GreenId14"><input type="text" id="GreenName14" name="GreenName14"><br><br>
                    </div>
                </div>
                <div class="column">
                    <div class="red-team">
                    <h2>RED TEAM</h2>
                    <input type="text" id="RedID0" name="RedID0"><input type="text" id="RedName0" name="RedName0"><br><br>
                    <input type="text" id="RedID1" name="RedID1"><input type="text" id="RedName1" name="RedName1"><br><br>
                    <input type="text" id="RedID2" name="RedID2"><input type="text" id="RedName2" name="RedName2"><br><br>
                    <input type="text" id="RedID3" name="RedID3"><input type="text" id="RedName3" name="RedName3"><br><br>
                    <input type="text" id="RedID4" name="RedID4"><input type="text" id="RedName4" name="RedName4"><br><br>
                    <input type="text" id="RedID5" name="RedID5"><input type="text" id="RedName5" name="RedName5"><br><br>
                    <input type="text" id="RedID6" name="RedID6"><input type="text" id="RedName6" name="RedName6"><br><br>
                    <input type="text" id="RedID7" name="RedID7"><input type="text" id="RedName7" name="RedName7"><br><br>
                    <input type="text" id="RedID8" name="RedID8"><input type="text" id="RedName8" name="RedName8"><br><br>
                    <input type="text" id="RedID9" name="RedID9"><input type="text" id="RedName9" name="RedName9"><br><br>
                    <input type="text" id="RedID10" name="RedID10"><input type="text" id="RedName10" name="RedName10"><br><br>
                    <input type="text" id="RedID11" name="RedID11"><input type="text" id="RedName11" name="RedName11"><br><br>
                    <input type="text" id="RedID12" name="RedID12"><input type="text" id="RedName12" name="RedName12"><br><br>
                    <input type="text" id="RedID13" name="RedID13"><input type="text" id="RedName13" name="RedName13"><br><br>
                    <input type="text" id="RedID14" name="RedID14"><input type="text" id="RedName14" name="RedName14"><br><br>
                    <input type='submit' value='Submit'>
                    </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</body>
