<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/player-entry.css"></head>
<script src="{{url_for('static', filename='player-entry.js')}}"></script>
<body style="margin: 0;">
    <div class="black-bg">
        <div class="logo-background">
            <div class="switch">
                <a href="play-action" style="color:white">Switch Screens</a>
            </div>
            <div class="bg-text">
                <h1> PLAYER ENTRY </h1>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %} 
                {% endwith %}
                    <div class="row">
                        <div class="column">
                            <div class="green-team">
                                <h2>GREEN TEAM</h2>
                                <div class="row">
                                    <div class="column">
                                        {% for item in greenList %}
                                            <pre>{{item.id}}</pre>
                                        {% endfor %}
                                    </div>
                                    <div class="column">
                                        {% for item in greenList %}
                                            <pre>{{item.codename}}</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                                <form method="POST">
                                <input type="text" id="GreenId0" name="GreenId0" placeholder="Enter player ID"><input type="text" id="GreenName0" name="GreenName0" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId1" name="GreenId1" placeholder="Enter player ID"><input type="hidden" id="GreenName1" name="GreenName1" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId2" name="GreenId2" placeholder="Enter player ID"><input type="hidden" id="GreenName2" name="GreenName2" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId3" name="GreenId3" placeholder="Enter player ID"><input type="hidden" id="GreenName3" name="GreenName3" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId4" name="GreenId4" placeholder="Enter player ID"><input type="hidden" id="GreenName4" name="GreenName4" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId5" name="GreenId5" placeholder="Enter player ID"><input type="hidden" id="GreenName5" name="GreenName5" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId6" name="GreenId6" placeholder="Enter player ID"><input type="hidden" id="GreenName6" name="GreenName6" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId7" name="GreenId7" placeholder="Enter player ID"><input type="hidden" id="GreenName7" name="GreenName7" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId8" name="GreenId8" placeholder="Enter player ID"><input type="hidden" id="GreenName8" name="GreenName8" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId9" name="GreenId9" placeholder="Enter player ID"><input type="hidden" id="GreenName9" name="GreenName9" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId10" name="GreenId10" placeholder="Enter player ID"><input type="hidden" id="GreenName10" name="GreenName10" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId11" name="GreenId11" placeholder="Enter player ID"><input type="hidden" id="GreenName11" name="GreenName11" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId12" name="GreenId12" placeholder="Enter player ID"><input type="hidden" id="GreenName12" name="GreenName12" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId13" name="GreenId13" placeholder="Enter player ID"><input type="hidden" id="GreenName13" name="GreenName13" placeholder="Enter codename"><br><br>
                                <input type="hidden" id="GreenId14" name="GreenId14" placeholder="Enter player ID"><input type="hidden" id="GreenName14" name="GreenName14" placeholder="Enter codename"><br><br>
                            </div>
                        </div>
                        <div class="column">
                            <div class="red-team">
                            <h2>RED TEAM</h2>
                            <div class="row">
                                <div class="column">
                                    {% for item in redList %}
                                        <pre>{{item.id}}</pre>
                                    {% endfor %}
                                </div>
                                <div class="column">
                                    {% for item in redList %}
                                        <pre>{{item.codename}}</pre>
                                    {% endfor %}
                                </div>
                            </div>
                            <input type="text" id="RedID0" name="RedID0" placeholder="Enter player ID"><input type="text" id="RedName0" name="RedName0" placeholder="Enter codename"><br><br>
                            <input type="hidden" id="RedID1" name="RedID1" placeholder="Enter player ID"><input type="hidden" id="RedName1" name="RedName1"><br><br>
                            <input type="hidden" id="RedID2" name="RedID2" placeholder="Enter player ID"><input type="hidden" id="RedName2" name="RedName2"><br><br>
                            <input type="hidden" id="RedID3" name="RedID3" placeholder="Enter player ID"><input type="hidden" id="RedName3" name="RedName3"><br><br>
                            <input type="hidden" id="RedID4" name="RedID4" placeholder="Enter player ID"><input type="hidden" id="RedName4" name="RedName4"><br><br>
                            <input type="hidden" id="RedID5" name="RedID5" placeholder="Enter player ID"><input type="hidden" id="RedName5" name="RedName5"><br><br>
                            <input type="hidden" id="RedID6" name="RedID6" placeholder="Enter player ID"><input type="hidden" id="RedName6" name="RedName6"><br><br>
                            <input type="hidden" id="RedID7" name="RedID7" placeholder="Enter player ID"><input type="hidden" id="RedName7" name="RedName7"><br><br>
                            <input type="hidden" id="RedID8" name="RedID8" placeholder="Enter player ID"><input type="hidden" id="RedName8" name="RedName8"><br><br>
                            <input type="hidden" id="RedID9" name="RedID9" placeholder="Enter player ID"><input type="hidden" id="RedName9" name="RedName9"><br><br>
                            <input type="hidden" id="RedID10" name="RedID10" placeholder="Enter player ID"><input type="hidden" id="RedName10" name="RedName10"><br><br>
                            <input type="hidden" id="RedID11" name="RedID11" placeholder="Enter player ID"><input type="hidden" id="RedName11" name="RedName11"><br><br>
                            <input type="hidden" id="RedID12" name="RedID12" placeholder="Enter player ID"><input type="hidden" id="RedName12" name="RedName12"><br><br>
                            <input type="hidden" id="RedID13" name="RedID13" placeholder="Enter player ID"><input type="hidden" id="RedName13" name="RedName13"><br><br>
                            <input type="hidden" id="RedID14" name="RedID14" placeholder="Enter player ID"><input type="hidden" id="RedName14" name="RedName14"><br><br>
                            <button type="submit" onclick="formSubmit()">Submit</button>
                            </form>
                            <p><a href="timer">Start Game!</a></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
