<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/player-entry.css"></head>
<script src="{{url_for('static', filename='play-action.js')}}"></script>
<body style="margin: 0;">
    <div class="black-bg">
        <div class="logo-background">
            <div class="switch">
                <a href="player-entry" style="color:white">Switch Screens</a>
            </div>
            <div class="bg-text" style="height:80%">
                <p id="demo"></p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %} 
                {% endwith %}
                    <div class="row">
                        <div class="column">
                            <script>
                            var startTime = new Date().getTime();

                            // Updates every second
                            var x = setInterval(function() {
                            
                              // Get the date and time that the page is loaded
                              var now = new Date().getTime();
                                
                              // Find the distance between now and the count down date. 30000 = 30 seconds in milliseconds Ignore the following: <meta http-equiv="refresh" content="30; url='play-action.html'" /> 
                              var distance = (startTime + 360000) - now;
                            
                              // Time calculations
                              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                
                              // Output the result in an element with id="demo"
                              document.getElementById("demo").innerHTML = "Time Left " + minutes + ":" + seconds;
                                
                              // Display the countdown and game end. Countdown starts when page is loaded, may not display full 30 seconds, but does count down from 30
                              if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("demo").innerHTML = "GAME OVER";
                              }
                            }, 1000);
                            </script>
                            <div class="green-team">
                                <h2>ALPHA GREEN</h2>
                                <div class="row">
                                    <div class="column">
                                        {% for item in greenList %}
                                            <pre>{{item.codename}}</pre>
                                        {% endfor %}
                                    </div>
                                    <div class="column">
                                        {% for item in greenList %}
                                            <pre>{{item.score}}</pre>
                                        {% endfor %}
                                        <pre>{{greenScore}}</pre>
                                    </div>
                                </div>

                                <ul class="hits-bg">
                                    <li>Green Player HITS Red Player</li>
                                </ul>

                            </div>
                        </div>
                        <div class="column">
                            <div class="red-team">
                            <h2>ALPHA RED</h2>
                            <div class="row">
                                <div class="column">
                                    {% for item in redList %}
                                        <pre>{{item.codename}}</pre>
                                    {% endfor %}
                                </div>
                                <div class="column">
                                    {% for item in redList %}
                                        <pre>{{item.score}}</pre>
                                    {% endfor %}
                                    <pre>{{redScore}}</pre>
                                </div>
                        </div>
                        <ul class="hits-bg" style="border: 2px solid #f00">
                            <li>Red Player HITS Green Player</li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</body>
