<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/player-entry.css"></head>
<div class="row">
    <div class="column">
        <div class="green-team">
            <h2>ALPHA GREEN</h2>
            <div class="row">
                <div class="column">
                    {% for item in greenList %}
                        <pre>{{item.codename}}</pre>
                    {% endfor %}
                    <pre>TOTAL</pre>
                </div>
                <div class="column">
                    {% for item in greenList %}
                        <pre>{{item.score}}</pre>
                    {% endfor %}
                    <pre>{{greenScore}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="red-team">
        <h2>ALPHA RED</h2>
        <div class="row">
            <div class="column">
                {% for item in redList %}
                    <pre>{{item.codename}}</pre>
                {% endfor %}
                <pre>TOTAL</pre>
            </div>
            <div class="column">
                {% for item in redList %}
                    <pre>{{item.score}}</pre>
                {% endfor %}
                <pre>{{redScore}}</pre>
            </div>
    </div>
</div>
<div id="hits-list" class="hits-bg" style="border: 2px solid rgb(10, 10, 165); overflow: auto;">
    <ul style="list-style-type: none; max-height: 85%; left: 50%;">
        {% for item in hitsList %}
            <li>{{item.hitter}} HITS {{item.hit}}</li>
        {% endfor %}
    </ul>
</div>