<link rel="icon" type="image/x-icon" href="/static/favicon.png">
<link rel="stylesheet" href="/static/player-entry.css"></head>
<div id="response" class="row">
    <div class="column">
        <div class="green-team">
            <h2>ALPHA GREEN</h2>
            <div class="row">
                <div class="column">
                    {% for item in greenList %}
                        <pre>{{item.codename}}</pre>
                    {% endfor %}
                </div>
                <div class="column">
                    {% for item in greenList %}
                        <pre>{{item.score}}</pre>
                    {% endfor %}
                    <pre>{{greenScore}}</pre>
                </div>
            </div>

            <ul class="hits-bg">
                <li>Green Player HITS Red Player</li>
            </ul>
        </div>
    </div>
    <div id="response" class="column">
        <div class="red-team">
        <h2>ALPHA RED</h2>
        <div class="row">
            <div class="column">
                {% for item in redList %}
                    <pre>{{item.codename}}</pre>
                {% endfor %}
            </div>
            <div class="column">
                {% for item in redList %}
                    <pre>{{item.score}}</pre>
                {% endfor %}
                <pre>{{redScore}}</pre>
            </div>
    </div>
    <ul class="hits-bg" style="border: 2px solid #f00">
        <li>Red Player HITS Green Player</li>
    </ul>
</div>